.header {
    padding: 12px;
    background-color: #4A306E;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: "Futura";
    position: fixed;
  top: 0;
  width: 99%;
  overflow: hidden;
  z-index: 1;
}

.header .nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
}

.header .option {
  margin-right: 20px;
  top: 50%;
}

.header .option:hover {
  cursor: pointer;
  color: #ed3192;
}

.header .our-house-btn {
  font-weight: 600;
}

.header .our-house-btn:hover {
  cursor: pointer;
  color: #ed3192;
}

/*  all below to be moved to app.css */

body {
    font-weight: 300;
    margin: 0;
  /*background-color: #ffffff;
  font-family: "Futura";*/
}

a {
  color: #ffffff;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}
