.issue-btn {
    display: flex;
    overflow: hidden;
    margin: 10px;
    padding: 12px 12px;
    cursor: pointer;
    user-select: none;
    transition: all 150ms linear;
    text-align: center;
    white-space: nowrap;
    text-decoration: none !important;
    text-transform: none;
    text-transform: capitalize;
    background-color: #fff;
    border: 0 none;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.3;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    justify-content: center;
    align-items: center;
    flex: 0 0 160px;
    box-shadow: 2px 5px 10px var(--color-smoke);
}

.issue-btn:hover {
    transition: all 150ms linear;
    opacity: 0.85;
}

.issue-btn:active {
    transition: all 150ms linear;
    opacity: 0.75;
}

.issue-btn:hover {
    color: #202129;
    background-color: #e1e2e2;
    opacity: 1;
}

.issue-btn:active {
    background-color: #d5d6d6;
    opacity: 1;
}

.issue-btn-container {
    display: flex;
    margin: 60px 60px;
    flex-wrap: wrap;
    justify-content: center;
}

form {
    display: contents;
    text-align: center;
}