.OurHouseLogo {
    display: flex;
    justify-content: center;
    margin-left: 32%;
    margin-right: 25%;
    margin-top: 0%;
    width: 35%;
    height: 35%;
}

.OurHouseLogo2 {
    display: flex;
    justify-content: center;
    margin-left: 32%;
    margin-right: 25%;
    margin-top: 5%;
    width: 35%;
    height: 35%;
    position: absolute;
}

img .OurHouseLogo2:hover {
    cursor: pointer;
}

.SignupText {
    display: grid;
    justify-items: center;
    font-size: 25px;
    color: white;
    margin-bottom: 40px;
    margin-top: 30px;
    font-family: "Futura";
}

.ExistingUserSignin {
    display: flex;
    justify-content: center;
    font-family: "Futura";
    font-style: italic;
    color: white;
    font-size: 20px;
    margin-top: 50px;
}

.SigninButton {
    font-family: "Futura";
    font-style: italic;
    color: white;
    font-size: 20px;
    background-color: #4a306e;
    border: none;
}

.SignupFormContainer {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.EmailIconForm {
    padding: 0.5em;
}

.PasswordIconForm {
    padding: 0.5em;
}

.UserIconForm {
    padding: 0.5em;
}

body {
    background-color: #F4F7F6;
}