.maintenance-current-issues {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 1rem;
}

.add-item {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: 20px 0;
}

.maintenance-page {
    margin-top: 5.5em;
    background-color: #F4F7F6;
    font-family: 'Montserrat', sans-serif;
}

.maintenance-page h1 {
    text-align: center;
}

.maintenance-subtext {
    text-align: center;
    margin-bottom: 2rem;
}