.add-item-btn:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.add-item-btn {
  background: #ed3192;
  color: #f4f7f6;
  border: none;
  position: relative;
  height: 60px;
  font-size: 1.6em;
  padding: 0 2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}

.add-item-btn:hover {
  background: #f4f7f6;
  color: #ed3192;
}

.add-item-btn:before,
button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #ed3192;
  transition: 400ms ease all;
}

.add-item-btn:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.add-item-btn:hover:before,
.add-item-btn:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
